$font-nunito: "Nunito Sans", cursive;
$gradient-bgb: #3E3D89;
$gradient-bgc: #0A143B;
$color-primary: #0A0F23;
$gradient-dark-orange: #C5221F;
$gradient-light-orange: #FF9889;
$gradient-pink-light: #DD53A8;
$gradient-pink-dark: #930D61;
$color-white: #ffffff;
$color-gray: #D6D6D6;
